* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h2 {
  margin: 0;
}
body {
  background: #191919;
  color: white;
  direction: rtl;
  font-family: "cairo", sans-serif;
}
.navbar-menu {
  display: none;
}
.is-loggedOut header,
.is-loggedOut footer {
  display: none;
}
header {
  padding: 16px;
  background: black;
}
header .container {
  display: flex;
  align-items: center;
}
.navbar-burger {
  padding: 1rem 0.5rem;
  margin-left: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navbar-burger .navicon {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #e6b31e;
  position: relative;
  transition: background-color 0.5s;
}
.navbar-burger .navicon::before,
.navbar-burger .navicon::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #e6b31e;
  transition: all ease 0.5s;
}
.navbar-burger .navicon::before {
  top: -5px;
}
.navbar-burger .navicon::after {
  top: 5px;
}

header.is-active .navbar-burger .navicon {
  background-color: transparent;
}
header.is-active .navbar-burger .navicon::before {
  transform: rotate(45deg);
  top: 0;
}
header.is-active .navbar-burger .navicon::after {
  transform: rotate(-45deg);
  top: 0;
}
header.is-active .navbar-menu {
  display: block;
  position: absolute;
  top: 64px;
  background-color: black;
  width: 100%;
  right: 0;
  z-index: 1;
}
header.is-active .navbar-menu .navbar-item {
  display: flex;
  padding: 16px 16px 18px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 16px; /* here*/
}
a.active.navbar-item {
  color: #ffffff;
  border-bottom: 1px solid #e6b31e; /* here*/
}
.navbar-menu .navbar-item:hover {
  color: #e6b31e;
}
.navbar-logo {
  display: flex;
}
.navbar-search {
  margin-right: auto;
}
.searchInput {
  line-height: 18px;
  padding: 8px;
  width: 190px;
  font-size: 16px;
}
/* Hero Section */
section.hero {
  padding: 48px 32px;
}
section.featuredMovies {
  background-image: url("../images/cover.svg");
  background-size: cover;
  background-position: top center;
}
.featured-title {
  color: white;
  font-size: 32px;
}
.featured-overview {
  color: #ffffffb3;
  line-height: 36px;
  text-align: justify;
  font-size: 20px;
  margin: 16px 0;
}
.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #e6b31e;
  padding: 16px 26px;
  font-weight: bold;
  border: 1px solid #e6b31e;
  font-size: 16px;
  margin-left: 13px;
}
.button.is-secondary {
  background-color: transparent;
  color: #e6b31e;
}

/* Movies */
.movies {
  padding: 0 32px;
}
.section-title {
  color: white;
  padding: 16px 0;
}
ul.moviesGrid {
  display: flex;
  overflow: scroll;
  margin-right: 16px;
  list-style-type: none;
}
.movie {
  position: relative;
}
.movie-description {
  display: flex;
  width: 100%;
  padding: 16px;
  background-color: black;
  position: absolute;
  bottom: 0;
  opacity: 0;
  color: white;
}
.moviesGrid li:hover .movie-description {
  opacity: 1;
}
.play-icon {
  margin-left: auto;
}
.section.filter {
  padding: 32px;
}
/* Footer */
footer.section {
  background-color: black;
  padding: 1.25rem 2rem;
  margin-top: 8px;
}
section.footer-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
footer .logout {
  margin-right: auto;
  text-decoration: none;
  color: #ffffffb3;
}
footer .logout:hover {
  color: #e6b31e;
}
footer.grayscale {
  filter: grayscale(0.5);
}
/*Media Queries*/
@media (min-width: 768px) and (max-width: 1220px) {
  .moviesGrid {
    flex-wrap: wrap;
    justify-content: center;
  }
  ul.moviesGrid {
    overflow: hidden;
  }
  .moviesGrid li {
    margin: 8px;
  }
  .section-title {
    text-align: center;
  }
  .featured-overview {
    max-width: 70%;
  }
}
@media (min-width: 1220px) {
  header,
  section,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
  .moviesGrid {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul.moviesGrid {
    overflow: hidden;
  }
  .moviesGrid ul {
    margin-bottom: 8px;
  }
  .featured-overview {
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  .navbar-burger {
    display: none;
  }
  .navbar-menu {
    display: flex;
    list-style-type: none;
  }
  .navbar-menu .navbar-item {
    margin: 0 16px;
    padding: 0;
    font-size: 16px;
    text-decoration: none;
    color: white;
  }
  header .navbar-menu .navbar-item {
    border-bottom: 1px solid transparent;
    padding-bottom: 18px;
    position: relative;
    z-index: 1;
  }
}
.navbar-menu li a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  margin: 0 16px;
  padding-bottom: 18px;
}

a.navbar-item.active {
  border-bottom-color: #e6b31e;
}
.movieTypeLabel {
  font-weight: bold;
}
.movieTypeSelect {
  margin-right: 16px;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  font-size: 18px;
}
.detailsPage {
  min-height: 60vh;
  position: relative;
}
.movieVideo iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.detailsPage .featured-overview {
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 0 0 8px black;
}
.detailsPage {
  min-height: 60vh;
  position: relative;
}

.movieVideo iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.movieMetaData span.title {
  color: rgba(255, 255, 255, 0.6);
  display: block;
}

.movieMetaData .values {
  color: white;
  display: block;
}

.movieMetaData {
  padding: 32px;
  line-height: 32px;
  font-size: 16px;
}

.movieMetaData .plot p {
  color: rgba(255, 255, 255, 0.7);
}

/* Additional styles for the login form */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  margin: 25px auto;
  padding: 20px;
}

.logo {
  /* If you want the image to be centered horizontally, you can set the margin to auto */
  display: block;
  margin: 20px auto;
}

form {
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
  display: flex; /* Add this to make the link container a flex container */
  flex-direction: column; /* Align items in a column */
  align-items: center; /* Center items horizontally within the container */
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ccc;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  border-radius: 5px;
  height: 50px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #e6b31e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e6b31e;
}
a {
  text-decoration: none;
  margin: 15px 0;
  color: #ccc;
}
